@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<hr class="my-5" />

<!-- Contextual Classes -->

<div class="card">
    <h5 class="card-header">User Role List</h5>
    <div style="
        position: absolute;
        right: 10%;
        top: 30px;
            ">
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody class="table-border-bottom-0">
                    <tr class="table-dark">
                        <td><strong>@item.UserName</strong></td>
                        <td>
                            <div>
                                <a class="btn btn-info" href="/Admin/AdminRole/AssignRole/@item.Id"> Assign Role </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
<!--/ Contextual Classes -->

<hr class="my-5" />

